/*********************************************************/
$greenColor: #0e918c;
$blackColor: #000;
$orangeColor: #f6830f;
$whiteColor: #fff;
$blacklight: #666666;
$gray: #ccc;
$textColor: #444;
$redcolor: #ff6b61;
%flex {
  display: flex;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
@mixin box-shadow($left, $top, $blur, $primary) {
  box-shadow: $left $top $blur $primary;
  -webkit-box-shadow: $left $top $blur $primary;
  -moz-box-shadow: $left $top $blur $primary;
}
@mixin rotate($radius) {
  transform: rotate($radius);
  -webkit-transform: rotate($radius);
  -moz-transform: rotate($radius);
}
@mixin scale($size) {
  transform: scale($size);
  -webkit-transform: scale($size);
  -moz-transform: scale($size);
}
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}
@mixin transition($property: all, $duration: 0.3s, $ease: linear) {
  transition: $property $duration $ease;
  -webkit-transition: $property $duration $ease;
  -moz-transition: $property $duration $ease;
}
@mixin translateY($property) {
  transform: translateY($property);
  -webkit-transform: translateY($property);
  -moz-transform: translateY($property);
}
@mixin translateX($property) {
  transform: translateX($property);
  -webkit-transform: translateX($property);
  -moz-transform: translateX($property);
}
@mixin transition-delay($delay) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin font-size($size) {
  font-size: $size;
}

/******************************************************/

/* .signMain {
  background: url(../assets/SignInBackground.png) no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.signMain .subsignSection {
  display: flex;
}
.signMain .subsignSection .logoPart {
  background: #f2f9ff;
  padding: 50px;
  border-radius: 30px 0px 0px 30px;
  display: flex;
  align-items: center;
}
.signMain .subsignSection .logoPart svg {
  width: 350px;
  height: auto;
}
.signMain .subsignSection .signForm {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 30px 30px 0px;
  padding: 50px;
  box-sizing: border-box;
  background: #fff;
}

.signMain .signForm form {
  width: 100%;
  margin: 0px auto;
}
.signMain .signForm > h2 {
  font-size: 40px;
  margin: 0px 0px 40px 0px;
  color: #000;
  font-weight: 600;
  text-align: center;
  font-family: "Proxima Nova Alt Lt";
}

.signMain .signForm .MuiFormControl-root {
  margin: 0px 0px 30px 0px;
  display: block;
  width: 100%;
}
.signMain .signForm .MuiFormControl-root .MuiFormHelperText-root {
  position: absolute;
  top: 100%;
  color: red;
}
.signMain .signForm .MuiFormControl-root .MuiInput-root {
  display: flex;
}
.signMain .signForm .MuiFormControl-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
.signMain .signForm .MuiFormControl-root .MuiInput-root::before {
  border-bottom: none;
  display: none;
}
.signMain .signForm .MuiFormControl-root .MuiInput-root::after {
  border-bottom: none;
  display: none;
}
.signMain .signForm .MuiFormControl-root .MuiInput-root:hover::after {
  border-bottom: none;
  transform: none !important;
}
.signMain .signForm .MuiFormControl-root .MuiInput-root:focus::after {
  transform: none !important;
  border-bottom: none;
}
.signMain .signForm .MuiFormControl-root .MuiInput-root::after {
  border: 1px solid rgba(0, 0, 0, 0.42);
}
.signMain .signForm .MuiFormControl-root .MuiInput-root input::placeholder {
  color: #000 !important;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}
.signMain .signForm .MuiFormControl-root .MuiInput-root .MuiIconButton-root {
  padding: 0px;
}
.signMain
  .signForm
  .MuiFormControl-root
  .MuiInput-root
  .MuiInputAdornment-root
  > p {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
}
.signMain .signForm .signupLink{
  display: block;
  text-align: right;
  margin: 20px 0px;
}
.signMain .signForm .forgotpassLink {
  display: block;
  text-align: right;
  margin: 20px 0px;
  
}
.signMain .signForm .forgotpassLink a {
  color: #0053a3;
  
}
.signMain .signForm .forgotpassLink a:active {
  color: #0053a3;
}
.signMain .signForm .forgotpassLink .MuiLink-root {
  color: #0053a3;
}
.signMain .signForm .signBtn {
 
  width: 100%;
  margin: 0px auto;
  display: block;
  background: #0053a3;
  box-shadow: none;
  padding: 8px 16px;
}
.signMain .signForm .adminBtn {
  
  width: 100%;
  margin: 15px auto 0px auto;
  display: block;
  background: #0053a3;
  box-shadow: none;
}
.signMain .signForm .signBtn + span {
  display: block;
  text-align: center;
  margin: 20px 0px;
}

.signMain .signForm .loginOptional {
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  color: #000;
  width: calc(100% - 80px);
  margin: 0px auto;
  display: block;
  box-shadow: none;
}

.signMain .signForm .create {
  margin-top: 30px;
  display: block;
  text-align: center;
  color: #000;
  font-size: 14px;
}

.signMain .signForm .create .MuiLink-root {
  color: #0053a3;
  text-decoration: underline;
}
.signMain .signForm .create a {
  color: #0053a3;
  text-decoration: underline;
}
.signMain .signForm .create a:active {
  color: #0053a3;
}
.signMain .signForm form .icon svg {
  color: rgba(0, 0, 0, 0.54);
}

.signMain .signForm .radioButtonGroup {
  margin-bottom: 15px;
}
.signMain .signForm .radioButtonGroup .MuiFormGroup-root {
  flex-direction: row;
}

.signMain .signForm .radioButtonGroup .MuiRadio-colorSecondary.Mui-checked {
  color: #0053a3;
}

.forgotpasswordSection .signBtn {
  margin: 20px auto !important;
}

.forgotpasswordSection > h2 {
  margin: 0px 0px 30px 0px;
  text-align: center;
  font-size: 18px;
  color: #000;
}


@media screen and (max-width: 1366px) {
  .signMain .signForm {
    padding: 30px 50px;
  }
  .signMain .signForm > h2 {
    margin: 0px 0px 40px 0px;
    font-size: 36px;
  }

  .signMain .signForm > svg {
    width: 80px;
    height: auto;
  }
}


.signMain .signForm.forgotpasswordSection {
  width: 450px;
  background: #fff;
  border-radius: 30px;
  padding: 30px 50px;
}
.signMain .signForm.forgotpasswordSection .resendOtp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.signMain .signForm .forgotpasswordSection .resendOtp a {
  display: inline-block;
}
.signMain .signForm.forgotpasswordSection > h2 {
  font-size: 36px;
}
.signMain
  .signForm.forgotpasswordSection
  .MuiFormControl-root
  .MuiInputAdornment-root
  svg {
  fill: rgba(0, 0, 0, 0.54);
}
@media screen and (max-width: 1440px) {
  .signMain .signForm.forgotpasswordSection > h2 {
    font-size: 32px;
  }
}

.signMain .signForm.forgotpasswordSection {
  width: 450px;
  background: #fff;
  border-radius: 30px;
}
.signMain .signForm.forgotpasswordSection > h2 {
  font-size: 36px;
}

@media screen and (max-width: 1440px) {
  .signMain .signForm.forgotpasswordSection > h2 {
    font-size: 32px;
  }
}
 */

.signMain {
  position: fixed;
  max-width: 100% !important;
  width: 100%;
  height: 100% !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  padding: 0px !important;
  z-index: 2 !important;
  margin: 0px 0px !important;
  .subsignSection {
    display: flex;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    width: 700px;
    align-items: center;
    flex-wrap: wrap;
    .logoPart {
      width: 50%;
      padding-right: 30px;
      padding-left: 15px;
      @extend %flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 100%;
        height: auto;
      }
      .responsiveLogo {
        width: 250px;
        height: auto;
        margin: 0px auto 20px auto;
        display: none;
      }
    }
    .signForm {
      width: 50%;
      padding-left: 20px;
      .title {
        color: #444;
        font-size: 32px;
        font-weight: 600;
      }
      .description {
        font-size: 16px;
        color: #bb2205;
        font-weight: 400;
      }
      form {
        display: flex;
        flex-direction: column;
        .emailField {
          padding: 10px 10px;
          background: #f8f8f8;
          .MuiInputBase-input {
            box-shadow: 30px 30px inset #f8f8f8;
          }
          .MuiInput-underline:before {
            border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
          }
          .MuiInput-underline:after {
            border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
          }
        }
        .loginPassword {
          padding: 10px 10px;
          background: #f8f8f8;
          .MuiInputBase-input {
            box-shadow: 30px 30px inset #f8f8f8;
          }
          .MuiInput-underline:before {
            border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
          }
          .MuiInput-underline:after {
            border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
          }
        }
        .rememberForgPassSection {
          @extend %flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 10px 0px 20px 0px;
          .rememberCheckField {
            margin: 0px 0px 0px -5px;
            .MuiIconButton-root {
              padding: 0px;
              margin-right: 5px;
            }
            .MuiCheckbox-colorPrimary.Mui-checked {
              color: $redcolor;
            }
            .MuiTypography-root {
              font-size: 16px;
            }
          }
          .forgotpassLink {
            a {
              color: $redcolor;
              display: inline-block;
              cursor: pointer;
            }
            a:hover {
              text-decoration: underline;
            }
          }
        }
        .signupLink {
          text-align: center;
          font-size: 14px;
          margin-top: 20px;
          a {
            color: $redcolor;
            display: inline-block;
            margin-left: 3px;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        .signBtn {
          background: $redcolor;
        }
      }
    }
  }
  .forgotpasswordSection {
    border-radius: 6px;
    background: $whiteColor;
    padding: 20px;
    max-width: 700px;
    @extend %flex;
    align-items: center;
    .logoPart {
      width: 50%;
      padding-left: 15px;
      padding-right: 30px;
      @extend %flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        width: 100%;
        height: auto;
      }
      .responsiveLogo {
        width: 250px;
        height: auto;
        margin: 0px auto 20px auto;
        display: block;
      }
    }
    .forgotPasswordFieldSection {
      padding-right: 15px;
      padding-left: 30px;
      @extend %flex;
      flex-direction: column;
      width: 50%;
      .title {
        color: $textColor;
        font-size: 35px;
        margin-bottom: 30px;
        font-weight: 600;
        line-height: normal;
      }
      .forgpassField {
        width: 100%;
        margin-bottom: 20px;
        input {
          box-shadow: 0px 0px 30px 30px inset $whiteColor;
          width: 100%;
        }
      }
      .otpField {
        width: 100%;
        margin-bottom: 20px;
        input {
          box-shadow: 0px 0px 30px 30px inset $whiteColor;
          width: 100%;
        }
      }
      .passField {
        width: 100%;
        margin-bottom: 20px;
        input {
          box-shadow: 0px 0px 30px 30px inset $whiteColor;
          width: 100%;
        }
      }
      .confirmPassField {
        width: 100%;
        margin-bottom: 20px;
        input {
          box-shadow: 0px 0px 30px 30px inset $whiteColor;
          width: 100%;
        }
      }
      .resendOtp {
        display: inline-block;
        a {
          display: inline-block;
          color: $redcolor;
          text-decoration: underline;
        }
      }
      .signBtn {
        margin-top: 20px;
        width: 100%;
        background: $redcolor;
      }
    }
  }
  .signupFormSection {
    border-radius: 6px;
    background: $whiteColor;
    padding: 20px;
    max-width: 700px;
    @extend %flex;
    .logoPart {
      width: 50%;
      padding-left: 15px;
      padding-right: 30px;
      @extend %flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        width: 100%;
        height: auto;
      }
      .responsiveLogo {
        width: 250px;
        height: auto;
        margin: 0px auto 30px auto;
        display: none;
      }
    }
    .formPart {
      padding-right: 15px;
      padding-left: 30px;
      @extend %flex;
      flex-direction: column;
      width: 50%;
      .title {
        color: $textColor;
        font-size: 35px;
        margin-bottom: 30px;
        font-weight: 600;
        line-height: normal;
      }
      .formFields {
        .MuiFormControl-root {
          margin-top: 0px;
          margin-bottom: 25px;
          width: 100%;
          input {
            box-shadow: 0px 0px 30px 30px inset #fff;
          }
        }
      }
      .signBtn {
        margin-top: 20px;
        width: 100%;
        background: $redcolor;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .signMain {
    .subsignSection {
      width: calc(100% - 30px);
      max-width: 500px;
      .logoPart {
        width: 100%;
        text-align: center;
        padding: 0px 0px;
        margin: 0px 0px 30px 0px;
        img {
          display: none;
        }
        .responsiveLogo {
          display: inline-block;
          width: 300px;
          height: auto;
        }
      }
      .signForm {
        width: 100%;
        padding: 0px 0px;
      }
    }
    .forgotpasswordSection {
      flex-wrap: wrap;
      max-width: 550px;
      width: calc(100% - 30px);
      .logoPart {
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
        padding: 0px 0px;
        img {
          display: none;
        }
        .responsiveLogo {
          display: inline-block;
          width: 250px;
          height: auto;
        }
      }
      .forgotPasswordFieldSection {
        padding: 0px 0px;
        width: 100%;
        .title {
          font-size: 32px;
        }
      }
    }
    .signupFormSection {
      width: calc(100% - 30px);
      max-width: 500px;
      flex-wrap: wrap;
      .logoPart {
        width: 100%;
        text-align: center;
        padding: 0px 0px;
        margin: 0px 0px 30px 0px;
        img {
          display: none;
        }
        .responsiveLogo {
          display: inline-block;
          width: 300px;
          height: auto;
        }
      }
      .formPart {
        padding: 0px 0px;
        width: 100%;
        .title {
          font-size: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .signMain {
    .subsignSection {
      .logoPart {
        .responsiveLogo {
          display: block;
          width: 200px;
          height: auto;
          margin: 0px auto;
        }
      }
      .signForm {
        .rememberForgPassSection {
          flex-wrap: wrap;
          .forgotpassLink {
            width: 100%;
            text-align: right;
            margin-top: 10px;
          }
        }
      }
    }
    .forgotpasswordSection {
      .logoPart {
        .responsiveLogo {
          width: 200px;
          margin: 0px auto;
        }
      }
      .forgotPasswordFieldSection {
        padding: 0px 0px;
        width: 100%;
        .title {
          font-size: 25px;
        }
      }
    }
    .signupFormSection {
      .logoPart {
        .responsiveLogo {
          width: 200px;
          margin: 0px auto;
        }
      }
      .formPart {
        .title {
          font-size: 25px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.changePassCancelBtn {
  margin-left: 15px;
  color: #838383 !important;
  background: #fff !important;
  box-sizing: border-box;
  border: 1px #838383 solid !important;
  margin: 15px 15px 15px 0px !important;
}

.changePasswordBtn {
  color: #fff !important;
  background: #fa8179 !important;
  border-color: #fa8179 !important;
  margin: 15px 15px 15px 0px !important;
}

.changePssawordForm .MuiFormHelperText-root {
  color: red !important;
}
